.slider-container {
    position: relative;
    max-width: 8000px; /* Set the maximum width for the slider container */
    margin: auto;
    overflow: hidden;
  }
  
  .slider-wrapper {
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    position: relative; /* Add this line for positioning reference */
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    position: relative; /* Add this line for positioning reference */
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .imgslider {
    max-width: 100%; /* Make the images responsive within their parent container */
    height: auto;
    object-fit: cover;
  }
  
  .prev {
  left: 10px;
  right: 700px;
  transform: translateY(-50%);
}

.next {
  right: 10px; 
  left: 700px;
  transform: translateY(-50%);
}